.center{
  text-align:center;
}
.ce{
  background-color: #D5D5D5;
  padding: 16px 16px 16px;
  margin: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-left: 4px solid #FF2D2D;
  width: 40%;
}
.ti{
  text-indent: 20px;
}
.tii{
  text-indent:40px;
}
.example{
    background-color: #D5D5D5;
    padding: 16px 16px 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-left: 4px solid #0790EC;
    width: 40%;
}
.hff{
  font-family: 'Spectral SC', serif;
}

.hf{
  font-family: 'Lato';
}
.non{
  border-left:0px;
}
body{
  font-family: 'Philosopher';
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;  
    text-align: center;
    padding:5px 5px;
}
th{
  color: white;
  font-size: 18px;
  background-color: #FE3333;
  padding: 5px 5px 5px;
}
td{
  background-color: white;
}
.head{
  border: 4px solid #FF6565;
  padding:7px 7px;
  color: white;
  text-align: center;
  background-color: #FF4545;
  font-family: 'Spectral SC', serif;
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    x-index: 0;
    margin: 6px 0;
    transition: 0.4s;
    
}
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    overflow-y: auto;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
